/* ========================= */
/* SCROLL ANIMATION */
/* ========================= */

.hidden{
    opacity:0;
    transform:translateY(70px);
    transition:all .8s ease;
}

.show{
    opacity:1;
    transform:translateY(0);
}